<div class="hero-container">'
  <%= image_tag("/img/editprofile.jpg",  alt: "beers on the couch", class: "hero-image") %>
  <div class="devise">
    <h1>Edit Your Profile</h1>

    <%= render 'form', profile: @profile %>

    <%= link_to 'Back', @profile %>

     
</div>