<div class="review-form-page">'
  <%= image_tag("/img/editprofile.jpg",  alt: "beers on the couch", class: "hero-image") %>
  <div class="devise">
    <h1>Accommodation review for <%= @stay.accommodation.name %></h1>

    <%= render 'form', accommodationreview: @accommodationreview %>

    <%= link_to 'Back', stay_path(params[:stay_id], guest_id: params[:guest_id]) %>
  </div>
</div>