
<h1> Request a stay at <%=Accommodation.find(params[:accommodation_id]).name%> <h1>    

<%= render partial: 'form', locals: { stay: @stay, accommodation_id: params[:accommodation_id] }%>
</div>
<%= link_to 'Back', stays_path %>
