<h2 id="no-result">Whoops! We found no results for your search!</h2>

<h1>Where can I stay?</h1>

<p >Nah..Imastay is currently available in Major Cities in the following places:</p>
<p>
    <%= image_tag '/img/ukflag.svg', class: 'flag' %> The United Kingdom
    | <%= image_tag '/img/aus_flag.svg', class: 'flag' %> Australia
    | <%= image_tag '/img/nzflag.png', class: 'flag' %> New Zealand
</p>