<div class="hero-container-edit-page">'
  <%= image_tag("/img/editprofile.jpg",  alt: "beers on the couch", class: "hero-image") %>
  <div class="devise">
    <h1>Editing Accommodation</h1>

    <%= render 'form', accommodation: @accommodation %>
    <p>
    <%= link_to 'Back', @accommodation %>
    </p>
    
  </div>
</div>