<div class="hero-container-edit-page">'
  <%= image_tag("/img/editprofile.jpg",  alt: "beers on the couch", class: "hero-image") %>
  <div class="devise">

    <h1>New Accommodation</h1>

    <%= render 'form', accommodation: @accommodation %>

    <%= link_to 'Back', accommodations_path %>
  </div>
</div>