<h1 id="center-heading">Membership Options</h1>
<h3 id="center-heading">Upgrade your membership today!</h3>

<div class="hero-container">'
  <%= image_tag("/img/upgrade.jpg",  alt: "beers on the couch", class: "hero-image") %>
  <div class="devise">
    <h1>Get premium features!</h1>

    <%= link_to 'Back', @profile %>
</div>