<script src="https://kit.fontawesome.com/61da53da41.js"></script>
<h1 class="center-text">Membership Options</h1>
<h3 class="center-text">Upgrade your membership today!</h3>

<div class="hero-container">'
  <%= image_tag("/img/upgrade.jpg",  alt: "beers on the couch", class: "hero-image") %>
  <div class="upgrade-container">
    <div class="upgrades">
      <h2>Standard Member</h2>
      <% if current_user.role_id == 2 %>
        <p>(This is your current membership)</p>
      <% end %>
        <p><strong>Cost:</strong> Free</p>
        <p><i class="fas fa-check-circle"></i> 1 Stay request per day</p>
        <hr class="upgrade-hr">
        <p><i class="fas fa-check-circle"></i> Unlimited messages</p>
        <hr class="upgrade-hr">
        <p><i class="fas fa-check-circle"></i> Unlimited reviews</p>      
    </div>
    <div class="upgrades">
      <h2>Premium Member!</h2>
        <% if current_user.role_id == 3 %>
        <p>(This is your current membership)</p>
        <% end %>
        <p><strong>Cost:</strong> $50 USD For Life!</p>
        <p><i class="fas fa-check-circle"></i> Unlimited Stay request per day</p>
        <hr class="upgrade-hr">
        <p><i class="fas fa-check-circle"></i> Unlimited messages</p>
        <hr class="upgrade-hr">
        <p><i class="fas fa-check-circle"></i> Unlimited reviews</p>
        <hr class="upgrade-hr">
        <p><i class="fas fa-check-circle"></i> Certified premium badge in profile</p>
        <hr class="upgrade-hr">
        <% if current_user.role_id != 3 %>
          <p><strong>Upgrade your account today!</strong></p>
          <p>       
           <%= render "layouts/shared/stripe_form" %>
          </p>
        <% else %>
          <h3>You are a premium user already</h3>
        <% end %>
    </div>
  </div>
</div>
<p class="center-text"><%= link_to 'Back to profile', @profile %></p>