.rating-button {
    font-family: 'Alef', sans-serif;
    color: #fafafa;
    font-size: 30px;
    width: 450px;
    height: 46px;
    text-align: center;
    background: #2D936C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin:20px;
    cursor: pointer;
}

.review-form-page {
    position: relative;
    width: 100%;
    max-height: 1000px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
}