.results-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accommodation-wrapper {
    width:80%;
    max-height:1200px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;
    display:flex;
    transition: .3s;
}

.accommodation-wrapper:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .3s;
}

.accom-img-container {
    width: 400px;
    margin: 20px;
    display: flex;
    align-items: center;
}

.accom-img-thumb{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.accom-para-flex {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.view-accom-button {
    font-family: 'Alef', sans-serif;
    color: #fafafa;
    font-size: 30px;
    width: 330px;
    height: 46px;
    text-align: center;
    background: #2d936c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin:20px;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .accommodation-wrapper {
        flex-direction: column;
        align-items: center;
        width:80%;
        max-height: 1200px;
    }

    .accom-para-flex {
        width: 90%;
        text-align: center;
        align-items: center;

        p {
            font-size: 15px;
        }
    }

    .view-accom-button {
      font-size: 15px;
      margin: 5px;
      width: 170px;
    }
    
}