@import url('https://fonts.googleapis.com/css?family=Alef|Taviraj&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import 'pages';
@import 'devise';
@import 'profiles';
@import 'upgrade';
@import 'accommodations';
@import 'accom-results';
@import 'stays';
@import 'stay-results';
@import 'messages';
@import 'accommodationreviews';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa
}

h1 {
    margin: 20px;
    color: #2d936c;
    font-family: 'Taviraj', serif;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);
}

#nav-title {
    margin:0px;
}

h2 {
    margin: 20px 20px 20px 20px;
    color: #2d936c;
    font-family: 'Taviraj', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);
}

h3 {
    margin: 20px 20px 20px 20px;
    color: #2d936c;
    font-family: 'Taviraj', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);
}

p {
    margin: 10px 10px 20px 20px;
    font-family: 'Alef', sans-serif;
    font-size: 30px;
    color: #091C38;
}

nav {
    color: #826251;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(250, 250, 250, 0.8);
    box-shadow: inset 4px 4px 100px rgba(0, 0, 0, 0.1);
    z-index: 2;
    a:link, a {
        font-size: 30px;
        font-family: 'Alef', sans-serif;
    }
}

ul {
    color: #826251;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 28%;
}

#main-menu {
    color: #826251;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 28%;
    margin: 5px;
}

#footer-menu {
    width:50%
}

li {
    color: #826251;
    font-family: 'Alef', sans-serif;
}

li a:link {
    text-decoration: none;
    font-family: 'Alef', sans-serif;
}

a:link, a {
    text-decoration: none;
    color: #826251;
    font-size: 30px;
    font-family: 'Alef', sans-serif;
}


#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 35%;
}

#world {
    width: 150px;
    height: auto;
    margin: 20px 0px 0px 20px;
}

.container {
    margin: 180px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchform {
    display: inline;
}

.search-field {
    background-color: #fafafa;
    border-radius: 10px;
    font-size: 30px;
    color: #091c38;
    opacity: .8;
    font-family: 'Alef', sans-serif;
}

.search-submit {
    font-family: 'Alef', sans-serif;
    color: #fafafa;
    font-size: 30px;
    width: 180px;
    height: 46px;
    text-align: center;
    background: #2D936C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin:20px;
}

footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #826251;
    height: 100px;
}

.footer-menu {
    color: #fafafa;
    margin: 20px;
    font-size: 30px;
    li:link a:link {
        color: #fafafa;
    }
}

.text-field-label {
    vertical-align: middle;
}

.valign{
    .text-field-label {
        vertical-align: middle;
    }
    .devise-field {
        vertical-align: middle;
    }
}

.kksym {
    width: 25px;
    height:25px;
}

.image-thumb {
    width: 50px;
    height: auto;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#finish-edit-text {
    font-size: 18px;
}

.center-text {
    text-align: center;
}

.form-inline {
    font-size: 30px;
    font-family: 'Alef', sans-serif;
    .field {
    display: inline-block;
    }
}

.message-button {
    font-family: 'Alef', sans-serif;
    color: #fafafa;
    font-size: 30px;
    width: 240px;
    height: 46px;
    text-align: center;
    background: #2D936C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin:20px;
    cursor: pointer;
}

#logo-with-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cog {
    font-size: 25px;
    margin:0;
    padding:0;
    font-family: 'Satisfy', cursive;
}

.pp {
    font-size: 18px!Important;
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 38px;
    }
    
    h2 {
        font-size: 35px;
    }
    
    h3 {
        font-size: 30px;
    }
    
    p {
        font-size: 20px;
    }
    
    a {
        font-size: 20px;
    }

    li {
        font-size: 25px;
        text-align: center;
    }

    li a:link {
        font-size: 20px;
    }
    
    a:link, a {
        font-size: 25px;
        text-align: center;
    }

    #nav-title {
        font-size: 25px;
    }

    #cog {
        font-size: 25px;
    }

    #user-menu {
        font-size: 8px;
        width: 100%;
    }

    #main-menu {
        font-size: 8px;
        width: 100%;
    }

    #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    #world {
        width: 100px;
        height: auto;
        margin: 10px 0px 0px 10px;
    }

    nav {
        flex-direction: column;
        justify-content: space-around;
        height: 250px;
    }

    .container {
        margin: 250px 0px 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hero-text {
        font-size: 25px;
    }

    input[type=text] {
        font-size: 25px;
    }

    .search-submit {
        font-family: 'Alef', sans-serif;
        color: #fafafa;
        font-size: 25px;
        width: 140px;
        height: 46px;
        text-align: center;
        background: #2D936C;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin:10px;
    }

    .img-wrapper, .kk-wrapper {
        height: 200px;
    }

    .footer-menu {
        font-size: 10px;
        width: 50%
    }

    .text-wrapper {
        text-align: center;
    }
}